.image-container{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 75vh;
}

.background-photo{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}


.image-tint{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
}

.contact-link{
    color: white;
    margin: 0px 10px;

}

.contact-info{
    display: flex;
    font-size: 1.15em;
    justify-content: center;
    color: rgb(33, 44, 77);
    align-items: flex-end;
}

.contact-info div{
    display: flex;
    justify-content: left;
}


.image-buttons{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.btns{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

}

.image-text{
    width: 50%;

}



@media screen and (max-width: 960px){
    .image-tint{
        flex-direction: column;
        
    }
    .image-section{
        width: 100%;
    }
    .image-text{
        text-align: center;
    }

    .image-container{
        height: 65vh;
    }

}

h1{
    font-size: 2.75em;
    font-weight: 550;
    color: white;

}

@media screen and (max-width: 1040px){
    h1{
        font-size: 2em;
    }
}

@media screen and (max-width: 660px){
    .btns{
        flex-direction: column;
        align-items: center;
    }

    .contact-info div, .contact-info a{
        margin-top: 20px;

    }
    .contact-info div{
        width: 100%;
        
    }

    .contact-info div{
        flex-direction: column;
        align-items: center;
        font-size: 0.2em;
    }
    
    
}

@media screen and (max-width: 550px){
    .contact-info p, .contact-info i{
        font-size: 0.65em;
    }
    h1{
        font-size: 1.5em;
    }
    
}


