.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: sticky;*/
    top: 0;
    z-index: 999;
    height: 110px;
    background-color: rgb(33, 44, 77);

}

.navbar-container{
    max-width: 1500px;
    height: 110px;
    padding: 2% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
  }

.nav-item{
    height: 110px;
    font-size: 1.4em;
    font-weight: 300;

}

.nav-links{
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        padding: 0.5rem 1rem;
        padding: 10px;
        height: 100%;
      
}

.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }


.menu-icon{
    color: #fff;
    display: none;
}



@media screen and (max-width: 1040px){

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        text-align: center;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }

      .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    .menu-icon{
        display: block;
        color: #fff;
    }
    .nav-links:hover {
        background-color: #fff;
        color: #242424;
      }
    .navbar{
        height: 60px;
        color: #fff;
    }

    .logo{
        width: 50%;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        border-bottom: solid 1px #111;
        display: table;
      }



    
}

@media screen and (max-width: 650px){

  .logo{
    width: 75%;
}
}