.owners-page{
    min-height: 100vh;
    width: 100%;
    color: rgb(33, 44, 77);
}

h1{
    color: rgb(33, 44, 77);
    font-weight: 500;
}

hr{
    height: 1px;
    margin-bottom: 50px;
}

p{
    color: rgb(33, 44, 77);
}

.packages{
    margin-left: 25px;
}

.sub-header {
    margin: 0 0 5px 30px;

}

.service-title{
    margin-bottom: 15px;
}

.service-section{
    margin-bottom: 45px;
}

.banner{
    height: fit-content;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.background-photo{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.img-wrapper{
    width: 100%;
    padding: 25px 10%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-size: contain no-repeat;
}

.service-content {
    width: 100%;
    height: 100%;
    padding: 25px 10%;
    text-align: left;
}

.service-section ul{
    margin: 0 0 15px 60px;
    list-style-position: inside;
    
}

.service-section li{
    margin-bottom: 5px;
}

.owners-responsibilities{
    width: 100%;
    padding: 25px 10%;
    background-color: rgb(33, 44, 77);
}


.owners-responsibilities li{
    color: white;
}

.owners-responsibilities ul{
    margin: 0 0 10px 30px;
    list-style-position: inside;

}

.owners-responsibilities p, .owners-responsibilities a{
    color: white;
}
.owners-responsibilities h4, .owners-responsibilities h2{
    color: white;
    margin-bottom: 10px;
}

@media screen and (max-width: 830px){
    .img-wrapper{
        flex-direction: column;
        text-align: center;
    }

    .button-container{
        margin-top: 10px;
    }

    .owners-responsibilities ul{
        margin: 0px 0px 20px 0px;
        list-style-position: inside;
    
    }
    .owners-responsibilities li{
        margin-bottom: 5px;
    }
    .service-section ul{
        margin: 0px 0px 20px 0px;        
    }

    .services-section li{
        margin-bottom: 50px;
    }

    .service-title{
        font-size: 1.5em;
    }
    .sub-header {
        margin: 0px 0px 0px 0px;
    
    }
}